# Obtido com: vercel env pull (copia do .env.local)
MONGODB_URI=mongodb+srv://Vercel-Admin-atlas-citrine-compass:WBIIxKCBudSXFK8G@atlas-citrine-compass.ph71ntx.mongodb.net/?retryWrites=true&w=majority
PORT=5000
NODE_ENV=development

# URLs para ambientes
API_URL_DEV=http://localhost:5000
API_URL_PROD=https://api-ewerton-mylene.vercel.app
